@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Cedarville Cursive', cursive;
  overflow-x: hidden;
  background-image: url(https://cdn.discordapp.com/attachments/758359161838108713/889999984118857748/2800018.jpg);
  background-size: cover;
  color: #222;
  margin: 0;
}

.container {
  background-image: url(https://cdn.discordapp.com/attachments/890387703357648916/913541364514426920/7F5DB804-5910-40F2-BA59-1926B97D7C73.jpg);
  transform-origin: top left;
  transition: transform 0.5s linear;
  max-width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
	background-image: url(https://cdn.discordapp.com/attachments/758359161838108713/889999984118857748/2800018.jpg);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
  opacity: 0.3;
}

.circle:hover {
  opacity: 1;
  transition: 0.4s;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%; 
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(80deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}


nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  cursor: pointer;
  letter-spacing: 3px;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav ul li + li + li + li {
  margin-left: 45px;
  transform: translateX(-250%);
}

.movin {
  font-weight: bolder;
  font-size: 20px;
}

.content img {
 max-width: 100%;
 box-shadow: 0 4px 8px 0 #111, 0 6px 20px 0;
 
}

.content {
 max-width: 1000px;
 margin: 50px auto;
}

.content h1 {
 margin: 0;
}

.content small {
 color: #111;
 position: absolute;
 transform: translateY(-45%);
}

.content .poem {
  margin: 40px 0;
}

.content .stanza {
  margin-bottom: 40px;
}

.content p {
  line-height: 20px;
  font-size: 20px;
}



